.cta-content {
    background-color: var(--pistachio);
    text-align: center;
    padding: 50px 15px;
    margin-block-end: 30px;
}

.cta .section-title {
    color: var(--white);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    line-height: 1.2;
    margin-block-end: 25px;
}

.cta .btn-outline {
    margin-inline: auto;
}

.cta-banner {
    background-color: var(--light-gray);
}
.img-cover{
    height: 240px;
}


/* --------------------------------====================---------------------- */
@media (min-width: 450px){
    .cta {
            --fs-4: 4.1rem;
        }
}
@media (min-width: 992px){

 .cta .container {
     display: grid;
     grid-template-columns: 1fr 0.7fr;
     gap: 30px;
 }

 .cta-content {
     margin-block-end: 0;
 }

 .cta .section-title {
     --fs-4: 5rem;
 }}

 @media (min-width: 1200px) {
    .cta{
        padding-left: 80px;
        padding-right: 80px;
    }
 }