.donate-list {
    display: grid;
    gap: 60px;
}

.donate-card {
    box-shadow: var(--card-shadow);
}

.donate-card .card-banner {
    background-color: var(--light-gray);
}

.donate-card .card-content {
    background-color: var(--white);
    padding: 35px;
}

.progress-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-text {
    display: flex;
    gap: 5px;
    font-size: var(--fs-8);
}

.progress-text data {
    color: var(--eerie-black-2);
    font-weight: var(--fw-600);
}

.donate-card .card-title {
    --fs-5: 2.1rem;
}

.progress-box {
    background-color: var(--cultured);
    border-radius: 20px;
    margin-block: 10px 20px;
}

.progress {
    height: 6px;
    width: 83%;
    background-color: var(--pistachio);
    border-radius: inherit;
}

.progress-value {
    color: var(--pistachio);
    font-size: var(--fs-7);
    font-weight: var(--fw-600);
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-block: 15px;
}

.donate-card .card-wrapper-text {
    display: flex;
    gap: 5px;
}

.donate-card .card-wrapper-text span {
    color: var(--sonic-silver);
    font-weight: var(--fw-500);
}

.card-wrapper-text data {
    font-weight: var(--fw-600);
}

.card-wrapper-text .green {
    color: var(--pistachio);
}

.card-wrapper-text .yellow {
    color: var(--bright-yellow-crayola);
}

.card-wrapper-text .cyan {
    color: var(--medium-turquoise);
}

/* ----------------------------------------===========================-------------------- */

@media (min-width: 580px) {
    .donate-card {
            position: relative;
            padding-block-end: 150px;
            box-shadow: none;
        }
    
        .donate-card .card-content {
            position: absolute;
            width: 85%;
            bottom: 0;
            right: 0;
            border-radius: 4px;
            box-shadow: var(--card-shadow);
        }
    
        .donate-card .card-title {
            --fs-5: 2.4rem;
        }
}

@media (min-width: 992px) {
    .donate-list {
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }
}

@media (min-width: 1200px) {

    .donate{
        padding-left: 80px;
        padding-right: 80px;
    }

    .donate-card {
            padding-inline-end: 120px;
        }
    
        .donate-card .card-content {
            width: 65%;
        }
}
